body {
    margin: 0;
    display:  grid;
    grid-template-areas: 
        "navigation"
        "header"
        "content"
        "footer"   ;
    grid-template-rows: min-content min-content auto min-content;
}

#navigation{
    border: 0.5px;
    border-style: solid;
    border-color:orange;
    background-color: orangered;
    padding: 5px;
    position: sticky;
    grid-area: navigation;    
}

#navigation > ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#navigation > ul > li{
    display: block;
    position: relative;
    list-style: none;
}

#navigation a + ul {
    left: 0;
    position: absolute;
    display: none;
    list-style: none;
    padding: 10px;
    background-color: grey;
    width: 80px;
}

#navigation a + ul:hover,
#navigation a:hover + ul {
    display: flex;
    flex-direction: column;
}

#navigation hover {
    background-color: grey
}